# coding: utf-8

import os
from datetime import datetime
from unittest import TestCase
from unittest.mock import MagicMock, call
from dataclasses import FrozenInstanceError
from Footy.src.database.{{TableName}} import {{CapTableName}}, {{CapTableName}}Keys, {{CapTableName}}Values
from Footy.src.database.database import Database, DatabaseKeys
from Footy.src.database.sqlite3_db import SQLite3Impl

class Test{{CapTableName}}(TestCase):
    """{{CapTableName}} object tests"""
    db = None

    @classmethod
    def setUpClass(cls):
        createName = '../database/create_db.sql' 
        testDataName = '../database/*_test_data.sql' 
        dbName = '../database/footy.test.db'
        os.system('cat {} | sqlite3 {}'.format(createName, dbName))
        os.system('cat {} | sqlite3 {}'.format(testDataName, dbName))
        cls.db = Database(dbName, SQLite3Impl())
        cls.db.enableForeignKeys()

    @classmethod
    def tearDownClass(cls):
        cls.db.close()

    def setUp(self):
        pass

    def tearDown(self):
        pass

    def test_keys_Immutablility(self):
        keys ={{CapTableName}}Keys({{PKTestDataList}})

        with self.assertRaises(FrozenInstanceError) as cm:
            {{PKTestDataAssign}}
        self.assertIn('cannot assign to field', cm.exception.args[0])

    def test_keys_adhoc(self):
        l = {{CapTableName}}.createAdhoc(DatabaseKeys('{{TableName}}', None))
        self.assertEqual(l.keys.table, '{{TableName}}')
        self.assertTrue(l.keys.fields is None)

    def test_createSingle(self):
        obj = {{CapTableName}}.createSingle(({{AllTestDataList}}))

        {{PKTestDataAssertEqual}} 
        {{ValueTestDataAssertEqual}} 

    def test_createMulti(self):
        rows = [{{AllTestDataRows}}]
        objs = {{CapTableName}}.createMulti(rows)
        
        self.assertEqual(len(objs), 2)
        {{PKTestDataAssertEqualIdx0}}
        {{ValueTestDataAssertEqualIdx0}}
        {{PKTestDataAssertEqualIdx1}}
        {{ValueTestDataAssertEqualIdx1}}

    def test_repr(self):
        obj = {{CapTableName}}({{AllTestDataList}})
        self.assertEqual(str(obj), "{{TableName}} : Keys {{PKTestDataDict}} : Values {{ValueTestDataDict}}")

    def test_select(self):
        objs = Test{{CapTableName}}.db.select({{CapTableName}}())
        self.assertEqual(len(objs), 2)
        {{PKTestDataAssertEqualIdx0}}
        {{ValueTestDataAssertEqualIdx0}}
        {{PKTestDataAssertEqualIdx1}}
        {{ValueTestDataAssertEqualIdx1}}
        
        objs = Test{{CapTableName}}.db.select({{CapTableName}}({{PKTestDataList}}))
        self.assertEqual(len(objs), 1)
        {{PKTestDataAssertEqualIdx0}}
        {{ValueTestDataAssertEqualIdx0}}

        objs = Test{{CapTableName}}.db.select({{CapTableName}}.createAdhoc(DatabaseKeys('{{TableName}}', {{ValueTestDataDict}})))
        self.assertEqual(len(objs), 1)
        {{PKTestDataAssertEqualIdx0}}
        {{ValueTestDataAssertEqualIdx0}}

    def test_update(self):
        # Disable Foreign Keys checks for this test
        Test{{CapTableName}}.db.disableForeignKeys()

        Test{{CapTableName}}.db.upsert(
                {{CapTableName}}({{PKTestDataList}}, {{NewValueTestDataList}}))
        objs = Test{{CapTableName}}.db.select({{CapTableName}}({{PKTestDataList}}))
        self.assertEqual(len(objs), 1)

        d = eval("{{NewValueTestDataDict}}")
        for k, v in d.items():
            self.assertEqual(objs[0].vals.__getattribute__(k), v)

        Test{{CapTableName}}.db.rollback()

    def test_insert(self):
        # Disable Foreign Keys checks for this test
        Test{{CapTableName}}.db.disableForeignKeys()

        Test{{CapTableName}}.db.upsert(
                {{CapTableName}}({{NewPKTestDataList}}, {{NewValueTestDataList}}))
        objs = Test{{CapTableName}}.db.select({{CapTableName}}())
        self.assertEqual(len(objs), 3)

        d = eval("{{NewValueTestDataDict}}")
        for k, v in d.items():
            self.assertEqual(objs[2].vals.__getattribute__(k), v)

        Test{{CapTableName}}.db.rollback()

    def test_delete(self):
        # Disable Foreign Keys checks for this test
        Test{{CapTableName}}.db.disableForeignKeys()

        Test{{CapTableName}}.db.delete({{CapTableName}}({{PKTestDataList}}))

        objs = Test{{CapTableName}}.db.select({{CapTableName}}())
        self.assertEqual(len(objs), 1)

        Test{{CapTableName}}.db.rollback()

if __name__ == '__main__':
    import unittest
    unittest.main()
