body {
    font-size: 100%;
    }
div.sweeper {
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/code.jpg")
    }
div.table {
    background-color: rgba(245,245,245,1);
    font-size: calc(50% + 0.5vw);
    }
table {   
    font: sans-serif;
    }
td.m {
    vertical-align: middle;
    }
caption {   
    font: bold small sans-serif;
    }
img.logo {
    height: 10%;
    width: 10%;
    }
