/* general rules */
body {
    font: sans-serif;
    font-size: 100%;
}

/* the main content container */
div.sweeper {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../images/code.jpg");
    font-size: calc(50% + 0.5vw);
}

/* table container */
div.table {
    background-color: rgba(245,245,245,1);
    font-size: calc(50% + 0.5vw);
}

/* navbar link container */
div.navbar-link {
    height: 4vw;
    font-size: calc(50% + 0.5vw); 
    text-align:center; 
    position:relative; 
    top:1.25vw 
}
span.popuptext {
    visibility: hidden;
}

span.show {
    visibility: visible;
}

span.hide {
    visibility: hidden;
}

/* table data alignment */
td.m {
    vertical-align: middle;
}

/* table captions */
caption {   
    font: bold small sans-serif;
}

/* help page column divs */
.help-col-1 {
    float: left;
    height: inherit;
    width: 25%;
    font-weight: bold;
    color: white;
    text-shadow: none !important;
}

.help-col-2 {
    float: left;
    width: 75%;
    color: white;
    text-shadow: none !important;
}

/* email column divs */
.email-col-1 {
    float: left;
    width: 74%;
}

.email-col-2 {
    float: left;
    width: 24%;
}

.email-input {
    font-size: calc(50% + 0.5vw) !important; 
}

.email-button {
    font-size: calc(50% + 0.5vw) !important; 
}

p {
    margin-left: 2.0vw;
    margin-right: 2.0vw;
    font-size: calc(50% + 0.5vw);
}

/* the logo image in the header */
img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 4vw;
}

/* the home page image */
img.home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 60vw;
} 

div.intro {
    width: 60vw;
    margin: auto;
    font-size: calc(70% + 0.5vw);
    text-shadow: none;
}

h1.intro {
    text-align: center;
    color: white;
    text-shadow: none;
}

p.intro {
    text-align: center;
    color: white;
    font-size: calc(50% + 0.5vw);
    text-shadow: none;
}

/* JQuery Mobile table - column priority visibility */
/* Show priority 1 at 480px (30em x 16px) */ 
@media screen and (min-width: 30em) {
   .fixture-table-priority  th.ui-table-priority-1,
   .fixture-table-priority td.ui-table-priority-1 {
     display: table-cell;
   }
}

/* Show priority 2 at 560px (35em x 16px) */ 
@media screen and (min-width: 35em) {
   .fixture-table-priority  th.ui-table-priority-2,
   .fixture-table-priority td.ui-table-priority-2 {
     display: table-cell;
   }

/* Show priority 3 at 640px (40em x 16px) */ 
@media screen and (min-width: 40em) {
   .fixture-table-priority  th.ui-table-priority-3,
   .fixture-table-priority td.ui-table-priority-3 {
     display: table-cell;
   }
}

/* Manually hidden */ 
.fixture-table-priority th.ui-table-cell-hidden,
.fixture-table-priority td.ui-table-cell-hidden {
  display: none;
}

/* Manually shown */
.fixture-table-priority th.ui-table-cell-visible,
.fixture-table-priority td.ui-table-cell-visible {
   display: table-cell;
}    

