from dataclasses import dataclass
from Footy.src.database.database import DatabaseObject, DatabaseKeys, \
        DatabaseValues, AdhocKeys

@dataclass(frozen=True)
class {{CapTableName}}Keys(DatabaseKeys):
    '''
    {{TableName}} database object primary key representation
    '''
    {{PKFieldsTyped}}

    def __init__(self, {{PKFieldsListTyped}}):
        '''
        Construct the object from the provided primary key fields
        
        :param ...: typed primary key fields
        '''
        # Need to use setattr as the class is Frozen (immutable)
        {{PKFieldsAssign}}
        super().__init__(self.getFields())

    def getFields(self):
        '''
        Get all the PK fields for this object in a dictionary form
        
        :returns: a dictionary of all {{CapTableName}}Keys fields
        '''
        fields = {} if not ({{PKFieldsAndSelf}}) else {{PKFieldsDictSelf}}
        return fields
        
class {{CapTableName}}Values(DatabaseValues):
    '''
    {{TableName}} database object values representation
    '''
    def __init__(self, {{ValueFieldsListTypedAndDef}}):
        '''
        Construct the object from the provided value fields
        
        :param ...: typed value fields
        '''
        {{ValueFieldsAssign}}
        super().__init__(self.getFields())

    def getFields(self):
        '''
        Get all the value fields for this object in a dictionary form
        
        :returns: a dictionary of all {{CapTableName}}Values fields
        '''
        fields = {{ValueFieldsDictSelf}}
        return fields
        
class {{CapTableName}}(DatabaseObject):
    '''
    {{TableName}} database object representation
    '''

    @classmethod
    def createAdhoc(cls, keys:AdhocKeys):
        '''
        Class method to create a database object with the provided adhoc keys
        list

        :param keys: an AdhocKeys object
        :returns: a {{CapTableName}} object constructed via the provided key
        :raises: None
        '''
        l = {{CapTableName}}()
        l._keys = keys
        return l

    def _createAdhoc(self, keys:AdhocKeys):
        '''
        Private instance method to create a database object with the 
        provided adhoc keys list

        :param keys: an AdhocKeys object
        :returns: a League object constructed via the provided key
        '''
        return {{CapTableName}}.createAdhoc(keys)

    @classmethod
    def createSingle(cls, row:tuple):
        '''
        Class method to create a database object from the provided database row

        :param row: a list of values representing the objects key and values
        :returns: a {{CapTableName}} object constructed from row
        '''
        {{AllFieldsList}} = row
        return {{CapTableName}}({{AllFieldsList}})

    def _createSingle(cls, row:tuple):
        '''
        Private instance method to create a database object from the provided 
        database row

        :param row: a list of values representing the objects key and values
        :returns: a {{CapTableName}} object constructed from row
        '''
        return {{CapTableName}}.createSingle(row)

    @classmethod
    def createMulti(cls, rows:tuple):
        '''
        Class method to create database objects from the provided database rows

        :param rows: a list of lists of representing object keys and values
        :returns: a list of {{CapTableName}} objects constructed from rows
        '''
        l = []
        for r in rows:
            l.append(cls.createSingle(r))
        return l

    def _createMulti(cls, rows:tuple):
        '''
        Private instance method to create database objects from the provided 
        database rows

        :param rows: a list of lists of representing object keys and values
        :returns: a list of {{CapTableName}} objects constructed from rows
        '''
        return {{CapTableName}}.createMulti(rows)

    def __init__(self, {{AllFieldsListTypedAndDef}}):
        '''
        Construct the object from the provided key and value fields
        
        :param ...: typed key and value fields
        :returns: N/A
        :raises: None
        '''
        keys = {{CapTableName}}Keys({{PKFieldsList}})
        vals = {{CapTableName}}Values({{ValueFieldsList}})

        super().__init__('{{TableName}}', keys, vals)

    def getTable(self):
        return self._table

    {{PKFieldsGetters}}
    {{ValueFieldsGetters}}
    {{ValueFieldsSetters}}

    def isNullable(self, field):
        {{AllIfNullable}}
        return False

    def __repr__(self):
        return self._table + ' : Keys ' + str(self._keys.getFields()) + \
                ' : Values ' + str(self._vals.getFields())
